<ion-header>
  <ion-toolbar>
    <ion-title>
      SPWM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/LogoActivates.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle><h1>SPWM</h1></ion-card-subtitle>
        <ion-card-title><h3>System Planning and Works Manegements</h3></ion-card-title>
        <ion-card-title><h3>Desenvolvido para complementar o seu ERP, atualizando-o diariamente e automaticamente com todas as informações de suas obras.</h3></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vivemos hoje uma nova realidade, principalmente na área de projetos de construção e montagens, onde os custos são cada vez mais altos e os desvios de orçamento, cada vez maiores.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Conheça também</ion-label>
      </ion-list-header>
      <ion-item href="https://ativa-qs.com.br/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Site da Activates</ion-label>
      </ion-item>
      <ion-item href="https://activates.com.br/spwm/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Site SPWM</ion-label>
      </ion-item>
      <ion-item href="https://18.216.162.32:8000/accounts/login/?next=/">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Sistema SPWM</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
